.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  transition: 0.1s transform;
  transform: translateZ(0);
  border: 0.12rem solid var(--primary);
}

.gallery > div:hover {
  z-index: 1;
  cursor: crosshair;
}

.gallery > div:hover > img {
  transform: scale(1.7);
  transition: 0.3s transform;
}

.cf:before,
.cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}
