header {
  display: flex;
  height: 14vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

header nav ul {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
}

header nav ul li a {
  color: inherit;
  transition: 0.3s all ease-in-out;
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--heading);
}

header .social img {
  height: 2rem;
  width: 2rem;
  filter: invert(100%);
  transition: all 0.3s ease-in-out;
}

header .social img:hover{
  filter: invert(0%);
}